

.expensive-keg {
  color: gold;
}
.strong-keg {
  font-style: italic;
}
.selected {
 color: #22bdf0;
}

.task-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}
.low-keg {
  color: red;
}
.cheap-keg {
  color: green;
}

.progress {
  text-align: center;
}
